* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bdbdbd;
}

#calc-container {
  background-color: lightgrey;
  width: max-content;
  margin: auto;
  margin-top: 50px;
  border: 10px solid black;
  border-radius: 5px;
}

#display {
  height: 90px;
  font-size: 85px;
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 5px 0;
}

#buttons {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 20px;
  font-size: 25px;
  border: 1px solid #7d7d7d;
}

input {
  padding: 20px;
  font-size: 25px;
  border: 1px solid #7d7d7d;
}

#clear-btn {
  flex: 1 75%;
}

#zero-btn {
  flex: 1 50%;
}

#operand-btn,
#number-btn,
#decimal-btn,
#equal-btn {
  flex: 1 25%;
}

#zero-btn,
#number-btn,
#decimal-btn,
#clear-btn {
  background-color: #6b6b6b;
  color: white;
  font-weight: bold;
}

#operand-btn,
#equal-btn {
  background-color: rgb(243 197 111);
  font-weight: bold;
}
